#figure{
    background-color: black;
}
.square{
    height: 100px;
    width: 100px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.rectangle {
    height: 100px;
    width: 150px;
}
